$clr-red: hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);
$clr-background: hsl(0, 0%, 98%);
$clr-primary: hsl(234, 12%, 34%);
$clr-secondary: hsl(229, 6%, 66%);

$fw-light: 200;
$fw-bold: 600;
